@import '../../../styles'

nav
    width: 100%
    background-color: rgba(0,0,0,0.5)
    height: 100%
    position: absolute
    top: 0
    right: 0
    display: flex
    flex-direction: column
    align-items: flex-end
div
    display: flex
    flex-direction: column
    align-items: flex-end
    background: $Off-white
    width: 65%
ul
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    justify-content: start
    background: $Off-white
    width: 65%
    height: 100%
    padding-top: 100px
li
    padding: 20px
    a
        text-decoration: none
        text-transform: capitalize
        color: #000
        &:hover
            color: $Softred

@media screen and ( min-width: 1440px )
    nav
        width: 700px
        position: inherit
        background: $Off-white
        ul
            flex-direction: row
            justify-content: space-between
            flex-wrap: nowrap
            background: $Off-white
            height: auto
            width: 100%
            padding-top: 0px
        li
            padding: 20px 0px 20px 0px
        div
            display: none
        a
            color: $Darkgrayishblue
            font-size: 1.5rem
