@import '../../../styles'

nav
    width: 200px
ul
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    justify-content: space-between
    background: pink
li
    a
        text-decoration: none

@media screen and ( min-width: 1440px )
    nav
        width: 500px
        ul
            flex-direction: row
            justify-content: space-between
            flex-wrap: nowrap
            background: $Off-white
            height: auto
        div
            display: none
