@import '../../../styles'
.containerTitle
 display: flex
 flex-direction: column
 column-gap: 20px
 div:nth-child(3)
  padding: 20px 0
  input
   background: $Softred
   padding: 20px 18px
   color: $Off-white
   text-transform: uppercase
   font-weight: bold
   border: none
   letter-spacing: 8px
