@import '../../../styles'
.titleClass
 font-size: 2.5rem
 width: 100%

.textClass
 color: $Off-white

.textClassBlack
 color: #000

.textContainer
 p
  color: $Darkgrayishblue
  font-size: $Fontsizeparagraph
  line-height: 25px
